* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.common-button {
    background-image: linear-gradient(20deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    padding: 12px 16px;
    font-size: 16px;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10000px;
}

.common-button:hover {
    background-image: linear-gradient(20deg, rgba(145, 0, 248, 1), rgba(251, 9, 180, 1), rgba(247, 233, 63, 1));
    color: #FFFFFF;
    cursor: pointer;
}

.common-button i {
    font-size: 13px;
}

/* header related styles */
#header {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.324);
}

.header-container {
    display: flex;
    justify-content: space-between;
    /* background-color: #00FF88; */
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 24px 0;
}

.header-logo h3 {
    font-size: 32px;
    color: #FFFFFF;
}

.header-logo h3 span {
    background-image: linear-gradient(20deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* ANIMATION RELATED STYLES */
body span:hover{
    transform: rotateX(360deg);
    transition: 2s;
}

.header-nav {
    display: flex;
    gap: 32px;
    font-weight: 600;
}

.header-nav li {
    list-style-type: none;
}

.header-nav li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    font-weight: 400;
}

.header-container-small-menu {
    color: #FFFFFF;
    display: none;
}


/* hero section related styles */
#hero {
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #00FF88; */
}

.hero-container-img {
    position: relative;
    padding-top: 400px;
}

.hero-first-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-second-img {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-new {
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    border-radius: 1000px;

    position: absolute;
    /* top: 100px;
    left: 700px; */
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.hero-container-txt {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
}

.hero-container-txt h2 {
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.hero-container-txt p {
    font-size: 14px;
    color: #ffffff60;
    padding-bottom: 20px;
}

.hero-container-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
}


/* ABOUT SECTION RELATED STYLES */
.about-container {
    background-color: #241637;
    padding-top: 50px;
}

.about-container-txt {
    /* background-color: blue; */
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.about-container-txt h3 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.about-container-txt p {
    font-size: 14px;
    color: #ffffffb0;
    line-height: 30px;
}

.about-container-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
}

.about-lower-pera {
    max-width: 80vw;
    margin: 0 auto;
    border-bottom: 0.7px solid white;
    padding-top: 30px;
    padding-bottom: 80px;
}

.common-about-card {
    text-align: center;

}

.common-about-card h4 {
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 15px;
}

.common-about-card {
    font-size: 14px;
    color: #FFFFFF;
}

/* why section related styles */
#why {
    background-color: #2c104e;
}

.why-container {
    max-width: 80vw;
    margin: 0 auto;
    padding-bottom: 120px;
}

.why-container h3 {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 40px;
}

.common-why-card {
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}

.common-why-card img:hover{
    transform: rotateY(360deg);
    transition: 2s ease-in-out;
}

.common-why-card h5 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.common-why-card p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #ffffff9c;
}

.why-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card1 {
    grid-column: span 1;
    grid-row: span 2;
}

.card2,
.card3,
.card4 {
    grid-column: span 2;
    grid-row: span 1;
}

/* featured section related styles */
.featured-container {
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.featured-container h3 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 40px;
}

.featured-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.common-featured-card {
    background-color: #250D44;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}

.common-featured-card iframe {
    border-radius: 10px;
}

.common-featured-card h5 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px;
}

.common-featured-card p {
    font-size: 16px;
    color: #ffffff73;
    line-height: 25px;
    padding: 10px;
}

.card-timing {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 10px;
}

.card-timing span {
    color: #00FF88;
}


/* meet section related styles */
.meet-container {
    margin-bottom: 120px;
}

.meet-container h3 {
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}

.meet-container-host {
    display: flex;
    gap: 24px;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;

    background-color: #35116540;
    border-radius: 20px;
    padding: 40px 48px;
}

.host-txt-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.host-txt-nav li {
    list-style-type: none;
}

.host-txt-nav li {
    border: 0.8px solid #533C72;
    border-radius: 50%;
    padding: 10px 12px;
}

.host-txt h4 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.host-txt p {
    font-size: 14px;
    color: #ffffff70;
    padding-bottom: 10px;
    line-height: 25px;
}


/* footer section related styles */
#footer {
    background-image: url('assets/footer-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-container {
    padding-bottom: 120px;
    padding-top: 120px;
    text-align: center;
}

.footer-container h2 {
    font-size: 60px;
    color: #FFFFFF;
}

.footer-container h2 span {
    background-image: linear-gradient(60deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.footer-cards {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.common-footer-card {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-cards span {
    font-size: 14px;
    color: #ffffff79;

}

.footer-copyright {
    max-width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #fafafa7b;
}


/* resposive related styles */
.hide {
    display: none !important;
}

/* responsive for (max-width:576px) related styles */
@media screen and (max-width: 576px) {

    .header-nav,
    .header-button-container {
        display: none;
    }

    .header-container-small-menu {
        display: inline;
    }

    .hero-container-txt h2 {
        font-size: 45px;
    }

    .why-cards {
        display: flex;
        flex-direction: column;
    }

    .featured-container h3 {
        font-size: 40px;
    }

    .meet-container h3 {
        font-size: 40px;
    }

    .meet-container-host,
    .featured-cards {
        flex-direction: column;
    }

    .about-container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .footer-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .host-txt {
        text-align: center;
    }

    .host-txt-nav {
        justify-content: center;
    }

    .footer-container {
        /* background-color: #201142; */
        background-size: contain;
    }

    .footer-container h2 {
        font-size: 40px;
    }
}


/*responsive for (max-width:576px) & (min-width:992px) devices */
@media screen and (min-width:577px) and (max-width: 992px) {
    .header-container {
            max-width: 90vw;
            margin: 0 auto;
        }

    .meet-container-host,
    .featured-cards {
        flex-direction: column;
    }

    .about-container-cards {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .host-txt {
        text-align: center;
    }

    .host-txt-nav {
        justify-content: center;
    }
}