* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}

/* shared styles */
.common-button {
    background: aqua;
    padding: 12px 16px;
    color: #FFFFFF;
    border-style: none;
    border-radius: 10000px;
}

/* header related styles */
#header {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.324);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 24px 0;
}

.header-logo h3 {
    color: #FFFFFF;
}

.header-logo span {
    color: green;
}

.header-nav {
    display: flex;
    gap: 32px;
    font-weight: 600;
}

.header-nav li {
    list-style-type: none;
}

.header-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
}


/* hero section related styles */
#hero {
    background-image: url('assets/hero-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-container {
    /* width: 36vw; */ 
    /* margin: 0 auto; */
    /* padding-top: 101px;
    padding-bottom: 101px; */
    /* margin-left: -50vw; */
    position: relative;
}

.hero-first-img{
   position: absolute;
   left: 38.2%;
   top: 10%;
}

.hero-first-img img{
    width: 85%;
}

.hero-second-img{
    position: absolute;
    top: 20%;
    left: 45%;
}

.hero-container-txt{
    padding-top: 490px;
    padding-bottom: 100px;
    text-align: center;
}

.hero-container-txt h2{
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.hero-container-txt p {
    font-size: 14px;
    color: #ffffff60;
    padding-bottom: 20px;
}


/* ABOUT SECTION RELATED STYLES */
.about-container{
    background-color: #241637;
    padding-top: 50px;
}

.about-container-txt{
    /* background-color: blue; */
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
}

.about-container-txt h3{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.about-container-txt p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 30px;
}

.about-container-cards{
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
}

.about-lower-pera{
    max-width: 80vw;
    margin: 0 auto;
    border-bottom: 0.7px solid white;
    padding-top: 30px;
    padding-bottom: 80px;
}

.common-about-card{
    text-align: center;

}

.common-about-card h4{
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 15px;
}

.common-about-card  {
    font-size: 14px;
    color: #FFFFFF;
}

/* why section related styles */
.why-container{
    max-width: 80vw;
    margin: 0 auto;
}

.why-container h3{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

.common-why-card{
    background-color: #351165;
    border-radius: 40px;
    padding: 40px;
}

.common-why-card h5{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 40px;
}

.common-why-card p{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff9c;
}

.why-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card1{
    grid-column: span 1;
    grid-row: span 2;
}

.card2, .card3, .card4 {
    grid-column: span 2;
    grid-row: span 1;
}



